.landingPageTop {
  text-align: center;
  background-color: rgb(127, 243, 127);
  width: 90%;
  margin: 9px auto;
  padding: 6px;
}
h1 {
  margin: 12px 0;
}
.tempGoTo {
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 600;
  color: black;
  border: 1px solid grey;
  width: 75%;
  max-width: 330px;
  margin: 24px auto;
  text-align: center;
  padding: 9px 0;
}
.tempGoTo:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 9px 0 rgba(0, 0, 0, 0.15);
  background-color: rgb(135, 253, 135)
  }
.tempP {
  margin: 6px 0;
}
.tempP:hover {
  color: green;
}
.appInfo {
  width: 80%;
  max-width: 400px;
  background-color: rgb(232, 245, 250);
  border-radius: 60px;
  margin: 6px auto;
  text-align: center;
  padding: 6px;
}
.trackerAbout {
  font-size: 1.4rem;
  line-height: 1.6rem;
  margin: 9px 0;
}
.appInfoP {
  font-size: 1rem;
  line-height: 1.3rem;
}

@media only screen and (min-width: 450px){
  .landingPageTop {
    max-width: 600px;
    margin: 18px auto;
    padding: 6px;
  }
  .tempGoTo{
    max-width: 300px;
  }
  .appInfo {
    max-width: 480px;
  }


}