.stdDashTop {
  background-color: rgb(127, 243, 127);
  text-align: center;
  width: 90%;
  margin: 9px auto;
  padding: 6px;
}
.stdDashtitle {
  font-size: 1.5rem;
}
.teacherDetails {
  text-align: left;
  border: 1px solid grey;
  width: 85%;
  max-width: 480px;
  margin: 15px auto;
  padding: 15px;
}
.teacherInfoTitle { 
  text-align: center;
  font-size: 1.2rem;
}
@media only screen and (min-width: 450px){
  .stdDashTop {
    max-width: 600px;
    margin: 18px auto;
    padding: 6px;
  }
}
