.studentDetailsEditor {
  border: 1px solid grey;
  border-radius: 3px;
  background-color: white;
  width: 85%;
  max-width: 420px;
  margin: 12px auto;
  padding: 6px 9px;
}
.updateStudent,
.cancelUpdate {
  float: right;
  margin-bottom: 6px;
  margin-left: 6px;
}
.updateStudent {
  background-color: rgba(210, 180, 140, 0.6);
}
.cancelUpdate {
  background-color: coral;
}
.editingStudent {
  display: block;
  margin-top: 15px;
  background-color: whitesmoke;
}
textarea {
  min-width: 270px;
}
