header.top {
  background-color: rgb(235, 235, 235);
  text-align: center;
  width: 90%;
  max-width: 500px;
  margin: 6px auto;
  padding: 9px;
}
header h2 {
  margin: 0;
}
.stdName {
  font-size: 1.7rem;
  font-weight: 600;
  font-style: italic;
  margin: 3px;
}
h4 { 
  font-size: 1.2rem;
  margin: 6px;
}
.newLesson {
  text-align: center;
  background-color: rgb(235, 235, 235);
  border: 1px solid grey;
  border-radius: 9px;
  width: 75%;
  max-width: 400px;
  margin: 9px auto;
  padding: 9px;
}
.newLesson:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
