.optionTitle {
  font-size: 1rem;
  text-align: center;
  margin: 0;
  padding: 6px;
}
.viewOptions {
  text-align: center;
  width: 100%;
  max-width: 500px;
  margin: 9px auto;
  padding: 6px;
}
.chooseTopic,
.viewByDate {
  display: inline-block;
  border: 1px solid grey;
  width: 50%;
  max-width: 200px;
  margin: 9px 6px;
  padding: 6px;
}
