.newLessonTop {
  background-color: rgba(3, 158, 158, 0.7);
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 9px 18px;
  position: relative;
  box-shadow: 0 6px 6px -4px rgb(27, 27, 27);
}
.backToDash{
  position: absolute;
  top: 2px;
  right: 12px;
}
.smallBox {
  margin-bottom: 6px;
  background-color: whitesmoke;
  max-width: 300px;
}
.newLessonHead {
  font-size: 1.5rem;
  line-height: 1.7rem;
  margin: 15px 0 9px 0;
  color: rgb(70, 70, 70);
}
.sessionNotes {
  border: 1px solid grey;
  border-radius: 6px;
  width: 94%;
  margin: 18px auto 12px auto;
  padding: 9px;
}
#sessionDate {
  display: inline-block;
  max-width: 270px;
}
#nextInfo{
  min-width: 270px;
  margin-top: 3px;
  background-color: whitesmoke;
}
.saveNewNotes {
  float: right;
  margin-bottom: 9px;
}
.result {
  font-size: 1.3rem;
  line-height: 1.3rem;
  font-style: italic;
  color: rgb(97, 97, 97);
  width: 80%;
  margin: 0px auto;
}
.goToStudent{
  background-color: rgb(45, 223, 199);
  border: 2px solid rgb(151, 151, 151);
  font-style: normal;
  border-radius: 27px;
  width: 80%;
  margin: 6px auto;
  padding: 6px 3px;

}
.goToStudent:hover {
  border: 3px solid grey;
}

@media only screen and (min-width: 450px){
  .newLessonTop {
    width: 100%;
    max-height: 80px;
    margin: 0;
    padding: 9px 0;
  }
  .sessionNotes {
    max-width: 550px;
  }  
  #nextInfo{
    width: 70%;
    min-width: 350px;
  }
  
}


