.addNewStd {
  border: 1px solid grey;
  width: 90%;
  max-width: 500px;
  margin: 9px auto;
}

.addStudentFormHeader {
  background-color: lightgrey;
  padding: 0;
}
.addStudentFormHeader:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

h3 {
  text-align: center;
  margin: 0;
  padding: 9px 15px;
  position: relative;
}
.arrowpointers {
  font-size: 2.7rem;
  line-height: 1.7rem;
  position: absolute;
  right: 0;
}
.italicSpan {
  font-style: italic;
}