.dashTop {
  background-color: rgb(3, 158, 158);
  text-align: center;
  width: 90%;
  margin: 0px auto 9px auto;
  padding: 6px;
}
.dashbdHead {
  color: rgb(70, 70, 70);
  font-size: 1.6rem;
}
.newLesson2 {
  font-size: 1rem;
  font-weight: 600;
  background-color: tan;
  color: rgb(55, 55, 55);
  width: 70%;
  max-width: 300px;
  margin: 9px auto;
  padding: 9px;
  border-radius: 3px;
}
.newLesson2:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 9px 0 rgba(0, 0, 0, 0.15);
}

.addNewStd {
  border: 1px solid grey;
  width: 90%;
  max-width: 500px;
  margin: 9px auto;
}
.addStudentFormHeader:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.arrowpointers {
  font-size: 2.7rem;
  line-height: 1.7rem;
  position: absolute;
  right: 0;
}
.italicSpan {
  text-align: left;
  font-style: italic;
}
@media only screen and (min-width: 450px){
  .dashTop {
    width: 98%;
    max-height: 80px;
    margin: 0;
    padding: 9px;
  }
}
@media only screen and (min-width: 840px) {
  
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  margin: 0;
  padding-top: 15px;
}
.columnA3 {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  min-width: 315px;
  max-width: 525px;
  overflow: auto;
}
.columnB3 {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  height: 100%;
  min-width: 440px;
  overflow-y: auto;
  margin: 0;
}
.newLesson2 {
  margin: 23px auto;
}

}